.speech {
  font-family: Georgia, serif;
  font-size: 16px;
  color: black;
}

.direction {
  background-color: rgb(255, 224, 224);
}
.direction:hover {
  background-color: orange;
  color: white;
}

.name {
  font-weight: bold;
}

.hjalmar {
  color: rgb(233, 86, 86);
}
.gina {
  color: rgb(83, 83, 237);
}