.speech {
  font-family: Georgia, serif;
  font-size: 16px;
  color: black;
}

.direction {
  background-color: lightyellow;
}
.direction:hover {
  background-color: orange;
  color: white;
}

.name {
  font-weight: bold;
}

.hjalmar {
  color: darkred;
}
.gina {
  color: darkblue;
}